<html>
    <head>
        <title></title>
        <%- style %>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <%- include('_header') %>
        <%- body %>
        <%- include('_footer') %>
        <%- script %>
    </body>
</html>