<div>
    <p><%= locals.user.name %></p>
    <p><%= locals.user.email %></p>
    <div>
        <h3>CodeChef</h3>
        <% if(!locals.codechef){ %>
            <form action="/codechef/enter-data" method="POST">
                <input type="text" name="Id" placeholder="User Id" required>
                <input type="number" name="rating" placeholder="eg. 1200" required>
                <input type="hidden" name="my" value="<%= locals.user._id %>">
                <input type="submit" value="Submit">
            </form>
        <% } else { %>
            <p><b>User Id: </b><%= locals.codechef.Id %></p>
            <p><b>Rating: </b><%= locals.codechef.rating %></p>
            <h3><%= locals.codechef.title %></h3>
            <p><a href="/codechef/remove-data/?Id=<%= locals.user._id %>">Remove</a></p>
        <% } %>
    </div>

    <div>
        <h3>CodeForces</h3>
        <% if(!locals.codeforces){ %>
            <form action="/codeforces/enter-data" method="POST">
                <input type="text" name="Id" placeholder="User Id" required>
                <input type="number" name="rating" placeholder="eg. 1200" required>
                <input type="hidden" name="my" value="<%= locals.user._id %>">
                <input type="submit" value="Submit">
            </form>
        <% } else { %>
            <p><b>User Id: </b><%= locals.codeforces.Id %></p>
            <p><b>Rating: </b><%= locals.codeforces.rating %></p>
            <h3><%= locals.codeforces.title %></h3>
            <p><a href="/codeforces/remove-data/?Id=<%= locals.user._id %>">Remove</a></p>
        <% } %>
    </div>

    <div>
        <h3>Geeks For Geeks</h3>
        <% if(!locals.gfg){ %>
            <form action="/gfg/enter-data" method="POST">
                <input type="text" name="Id" placeholder="User Id" required>
                <input type="number" name="ranking" placeholder="eg. 100" required>
                <input type="hidden" name="my" value="<%= locals.user._id %>">
                <input type="submit" value="Submit">
            </form>
        <% } else { %>
            <p><b>User Id: </b><%= locals.gfg.Id %></p>
            <p><b>Ranking: <%= locals.gfg.ranking %></b></p>
            <p><a href="/gfg/remove-data/?Id=<%= locals.user._id %>">Remove</a></p>
        <% } %>
    </div>
</div>